// all btns, button and buttons
.start-btn,
.browse-btn {
  display: block;
  text-align: center;
  background-size: 200% auto;
  box-shadow: 0px 0px 6px rgb(153, 153, 153);
  border: none;
  outline: none;
  transition: all 0.5s ease;
  color: $white;
}

.start-btn {
  background-image: linear-gradient(
    to right,
    // #fd473a 0%,
    // #330fff 51%,
    // #d7def7 100%
    #c4c4c4 0%,
    // #000d1f 51%,
    #001b42 51%,
    #ffffff 100%
  );

  &:hover {
    color: $white;
    transform: scale(1.05);
    text-decoration: none;
    background-position: right center;
    box-shadow: 0px 0px 8px rgb(203, 203, 241);
  }
}

.browse-btn,
.contact-btn {
  margin: 0 auto;
  padding: 6px 10px;
  max-width: 200px;
  width: 100%;
  color: $secondary-blue2;
  border: 1px solid $secondary-blue;
  border-radius: $border-radius-xlarge;
  transition: background 1s ease;

  &:hover {
    color: $white;
    background: rgba($secondary-blue2, 0.9);
    border: none;
    text-decoration: none;
  }
}

.contact-btn {
  margin: 6px auto;
}

.more-btn {
  @include flex-custom(center, center, row);
  margin-top: 0;
  margin-bottom: 1rem;

  .fullclass-btn {
    min-width: 350px;
    width: 100%;
  }
}

.class-btns,
.fullclass-btn {
  width: 100%;
  padding: 8px 12px;

  border-radius: 12px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: 0.3s;

  @include center-everything;
  gap: 10px;
}

.class-btns {
  color: $white;
  background: $secondary-blue;

  &:hover {
    color: $white;
    background: rgba($secondary-blue, 0.6);
    text-decoration: none;
    gap: 20px;
    transform: translate(0);
  }
}

.fullclass-btn {
  max-width: 320px;
  width: 100%;
  color: rgba($secondary-blue, 0.6);
  background-color: transparent;
  border: 2px solid;

  &:hover {
    background-color: rgba($secondary-blue, 0.7);
    color: $white;
    border: 2px solid;
    transform: translate(0) scale(1.05);
    text-decoration: none;
  }
}

.login-btn {
  background: #f4f7ff;
  border: 1px dashed #4b6bfb;
  border-radius: 16px;
  padding: 18px;
  margin-top: 20px;
  text-align: center;

  width: 100%;
  padding: 12px;
  background: $secondary-blue;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

  span {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $text-medium;
    font-weight: 700;
  }

  div {
    font-size: 1.25rem;
    font-weight: 800;
    color: $dark-purple2;
    margin: 10px 0;
    letter-spacing: 0.5px;
  }
}
