.timetable {
  width: $container-width-default;
  border-collapse: collapse;
  margin-top: 20px;

  thead {
    background: $secondary-blue;
    color: $white;
    th {
      padding: $padding-medium;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #eee;
      &:hover {
        background: rgba($blue-light, 0.2);
      }

      td {
        padding: $padding-medium;
        color: $dark-blue;
        svg {
          color: $primary-orange;
          margin-right: 5px;
        }
      }
    }
  }

  // Mobile එකේදී scroll වෙන්න
  @include respond(mobile) {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }
}
