 // const [formData, setFormData] = useState({
  //   name: "",
  //   email: "",
  //   mobile: "",
  //   subject: "",
  //   content: "",
  //   message: "",
  // });

  // const handleInputChange = (e) => {
  //   setFormData({ ...formData, [e.target.name]: e.target.value });
  // };

  // const handleSubmit = (e) => {
  //   e.preventDefault();
  //   console.log("Form Submitted:", formData);
  //   alert("Thank you! We received your message. We'll get back to you soon.");
  // };

  // const [];

  // const handleContactSubmit = async (e) => {
  //   e.preventDefault();
  //   setIsSubmitting(true);
  //   setFormSuccess("");

  //   const docId = "MSG-" + Date.now().toString().slice(-6);

  //   const contactData = {
  //     id: docId,
  //     fullName: contactFormData.fullName.trim(),
  //     phone: contactFormData.phone.trim(),
  //     messageText: contactFormData.messageText.trim(),
  //     status: "unread",
  //     createdAt: new Date().toISOString(),
  //   };

  //   try {
  //     await setDoc(doc(db, "contact_messages", docId), contactData);
  //     setFormSuccess("Your message was sent successfully! 🚀");
  //     setContactFormData({ fullName: "", phone: "", messageText: "" });
  //   } catch (err) {
  //     console.error("Cloud Contact Save Error:", err);
  //   }
  //   setIsSubmitting(false);
  // };




     {/* <div
            className="contact-form-card styled-form"
            data-aos="fade-left"
            id="contact-form">
            <h2>Contact Form</h2>
            <form
              onSubmit={handleContactSubmit}
              className="styled-form"
              method="POST"
              // action="https://formspree.io/f/mqenwpgk"
            >
              <div className="input-row">
                <div className="input-group">
                  <label>Email Address *</label>
                  <input
                    type="email"
                    name="email"
                    placeholder="name@example.com"
                    required
                    onChange={handleInputChange}
                  />
                </div>
                <div className="input-group">
                  <label>Whatsapp Number</label>
                  <input
                    type="tel"
                    name="mobile"
                    placeholder="07X XXX XXXX"
                    required
                    onChange={handleInputChange}
                  />
                </div>

                <div className="input-group">
                  <label>Subject</label>
                  <select name="subject" required onChange={handleInputChange}>
                    <option value="">Select Subject</option>
                    <option value="Maths">Mathematics</option>
                    <option value="Science">Science</option>
                    <option value="English">English</option>
                  </select>
                </div>
              </div>

              <div className="input-group">
                <label>Your Message</label>
                <textarea
                  name="message"
                  rows="4"
                  placeholder="Describe your requirement..."
                  required
                  onChange={handleInputChange}></textarea>
              </div>

              <button type="submit" className="contact-submit-btn">
                Send My Message <FaPaperPlane />
              </button>
            </form>
          </div> */}
