
  //   const handleDirectSend = (item) => {
  //     const siteUrl = window.location.origin;
  //     const shareMessage = `⚡ *SPECIAL INSTITUTIONAL EVENT BROADCAST* ⚡\n\n🏛️ *Educa Campus - ${item.title}*\n\n📢 ${item.description}\n\n🔗 View full event posters live on our official platform here:\n👉 ${siteUrl}`;

  //     const whatsappUrl = `https://wa.me + ${encodeURIComponent(shareMessage)}`;
  //     window.open(whatsappUrl, "_blank");
  //   }; 
  
  
  
   //   "⚡ *SPECIAL INSTITUTIONAL EVENT BROADCAST* ⚡\n\n" +
      //   "🏛️ *Educa Campus - " +
      //   item.title +
      //   "*\n\n" +
      //   "📢 " +
      //   item.description +
      //   "\n\n" +
      //   "🔗 *View full event posters live on our official platform here:*\n" +
      //   "👉 " +
      //   siteUrl +
      //   "\n\n" +
      //   "*NexusLabs Software Studios* 🦾";


      
  //   const handleDirectSend = (item) => {
  //     // 👑 🔐 [THE NATIVE CONCATENATION METHOD]:
  //     // ඔයාගේ AddStudent එකේ වැඩ කරන ක්‍රමයටම String එක පිරිසිදුව ගැට ගැසුවා මචං! [INDEX 4]
  //     // const siteUrl = window.location.origin;
  //     const siteUrl = "https://educa-lms-platform.vercel.app/";

  //     const shareMessage =
  //       "⚡️ *SPECIAL INSTITUTIONAL EVENT BROADCAST* ⚡️\n\n" +
  //       "🏛️ *Educa Campus - " +
  //       item.title +
  //       "*\n\n" +
  //       "📢 " +
  //       item.description +
  //       "\n\n" +
  //       "🔗 *View full event posters live on our official platform here:*\n" +
  //       "👉 " +
  //       siteUrl +
  //       "\n\n" +
  //       "*NexusLabs Software Studios* 🦾";

  //     // 🚀 උඹේ කෝඩ් එකේ තියෙන පිරිසිදුම ක්‍රමයටම ලින්ක් එක එකතු කර බ්‍රවුසර් එකට දුන්නා මචං! [INDEX 4]
  //     const finalWhatsappUrl = "https://wa.me" + encodeURIComponent(shareMessage);
  //     window.open(finalWhatsappUrl, "_blank");



  {/* <img
          src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f5d1_fe0f/512.gif"
          alt="live-emoji"
          style={{
            width: "60px",
            height: "60px",
            zIndex: "9999",
            position: "absolute",
            top: "28%",
            right: "39%",
            objectFit: "contain",
          }}
        />