  // ID Generator Popup එක පාලනය කරන State
  // const [showGenModal, setShowGenModal] = useState(false);
  // // const [showPrivacyCard, setShowPrivacyCard] = useState(false);
  // // const [showTermsCard, setShowTermsCard] = useState(false);

  // const [formData, setFormData] = useState({
  //   name: "",
  //   pin: "",
  //   password: "",
  //   maths: false,
  //   english: false,
  //   science: false,
  // });

  // const [generatedID, setGeneratedID] = useState("");
  // const [copied, setCopied] = useState(false);

  // const handleChange = (e) => {
  //   const { name, value, type, checked } = e.target;
  //   setFormData((prev) => ({
  //     ...prev,
  //     [name]: type === "checkbox" ? checked : value,
  //   }));
  // };

  // ID එක හදන රටාව (Grade 11 විතරක් නිසා කෙලින්ම 11 දැම්මා)
  // const handleGenerate = (e) => {
  //   e.preventDefault();
  //   let subCode = "";
  //   if (formData.maths) subCode += "m";
  //   if (formData.english) subCode += "e";
  //   if (formData.science) subCode += "s";

  //   if (!subCode) {
  //     alert("Please select at least one subject!");
  //     return;
  //   }

  //   const cleanName = formData.name.replace(/\s+/g, "").toUpperCase();
  //   const finalID = `EDU-${subCode.toUpperCase()}-11-${cleanName}-${formData.pin}`;
  //   setGeneratedID(finalID);
  //   setCopied(false);
  // };