// admin mobile lock
.admin-mobile-lock {
  padding: $padding-xlarge;
  width: $container-width-default;
  height: 100vh;
  background: $secondary-blue;
  color: $white;
  text-align: center;
  cursor: not-allowed;

  @include center-everything;

  .laptop {
    font-size: 4rem;
    color: $primary-orange;
    margin-bottom: 20px;
  }
  h2 {
    font-weight: $font-weight-500;
    word-spacing: 1.1rem;
  }
  p {
    max-width: 450px;
    font-size: $font-size-body;
    opacity: 0.8;
    margin-top: 12px;
    line-height: 1.6;
  }
}

// admin login wrapper
.admin-login-wrapper {
  height: 95.5vh;
  max-width: 1200px;
  width: $container-width-default;
  padding-top: 6rem;
  margin: $margin-xlarge;
  @include center-everything;

  .card-container {
    max-width: 500px;
    width: $container-width-default;
    padding: $padding-xlarge;
    margin: $margin-xlarge;
    border-radius: $border-radius-large;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    background: $white;
    text-align: center;
    display: flex;
    justify-content: center;

    &:hover {
      transform: none;
    }
  }

  .admin-logo {
    margin: 0 auto 15px;
    width: 65px;
    height: 65px;
    background: $secondary-blue;
    color: $white;
    border-radius: $border-radius-circle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-h2-m;
  }

  h2 {
    color: $secondary-blue;
    font-weight: $font-weight-800;
    text-transform: $text-transform-uppercase;
    font-size: $font-size-h2-mm;
  }
  p {
    font-size: $font-size-body-m;
    color: $secondary-blue3;
    margin-bottom: 25px;
  }

  .legel-link {
    display: inline-block;
    margin: 0 6px;

    &:hover {
      transform: translate(0);
      color: rgba($secondary-blue3, 0.8);
      text-decoration: none;
    }
  }

  .error-message {
    font-weight: $font-weight-600;
    color: $red-color;
    text-align: center;
  }

  .admin-btn {
    width: $container-width-default;
    padding: $padding-medium;
    margin-top: 1rem;
    background: $secondary-blue;

    color: $white;
    border: none;
    border-radius: $border-radius-small-m;
    font-weight: $font-weight-bold;
    cursor: pointer;
  }
}

// admin dashboard wrapper
.admin-dashboard-wrapper {
  height: 100vh;
  width: $container-width-default;
  display: flex;
  background: $bg-light;
  padding-top: 100px;

  .admin-sidebar {
    width: 300px;
    margin-top: 1rem;
    // background: $secondary-blue;
    background: $secondary-blue;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    border-radius: $border-radius-button;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.9);
  }
  .sidebar-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 12px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(219, 213, 213, 0.6);
  }

  h3 {
    text-transform: $text-transform-uppercase;
    font-size: $font-size-h3-m;
    letter-spacing: 1px;
    margin: 0;
    font-weight: $font-weight-800;
  }
  span {
    font-size: $font-size-body-mm;
    opacity: 0.8;
    font-weight: $font-weight-bold;
    padding-bottom: 6px;
  }

  // nav
  nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;

    button {
      width: $container-width-default;
      padding: 12px 15px;
      border-radius: $border-radius-small-m;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: $font-size-body;
      font-weight: $font-weight-600;

      color: $white;
      text-align: left;
      border: 1px solid $text-medium;

      &:hover {
        border-color: $primary-orange;
        font-size: $font-size-body;
      }
    }
  }

  // main part {
  main {
    display: flex;
    flex: 1;
    flex-direction: column;

    header {
      max-width: 100%;
      width: 98%;
      background: $white;
      padding: 15px 40px;
      margin: $margin-small $margin-medium;
      border-radius: $border-radius-medium;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
    }

    .top-content {
      display: flex;
      gap: 10px;
      background: $bg-light;
      padding: $padding-small;
      border-radius: $border-radius-small-m;

      button {
        padding: 8px 24px;
        border: none;
        border-radius: $border-radius-small-m;
        font-weight: $font-weight-700;
        cursor: pointer;
      }
    }

    .desc-content {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: $font-size-body-mm;
      font-weight: $font-weight-600;
      color: $secondary-blue3;

      .open-folder {
        color: $primary-orange;
      }

      span {
        color: $secondary-blue;
        font-weight: $font-weight-bold;
      }
    }
  }

  // dynamic content
  .dynamic-content {
    padding: 20px;
    flex: 1;
    width: $container-width-default;
  }
}

// vault container
.vault-container {
  background: $white;
  padding: 30px;
  border-radius: $border-radius-large;

  .vault-content {
    margin-bottom: 30px;

    h3 {
      color: $secondary-blue;
      margin: $margin-none;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    p {
      color: $secondary-blue3;
      font-size: $font-size-body-m;
      margin: 5px 0 0;
    }
  }
}

// loading spin
.loading-spin {
  animation: spin 1s linear infinite;
}

// admin logo form
.legel-checkbox-group {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 12px;
  border-radius: $border-radius-small-m;
  background: $bg-light;
  border: 1px solid #eef2ff;

  .legel-checkbox {
    margin: 3px 6px;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

  label {
    font-size: $font-size-body-m;
    color: $secondary-blue3;
    line-height: 1.4;
    cursor: pointer;
    font-weight: $font-weight-500;
    text-align: left;
    margin-bottom: 20px;
  }

  Link {
    color: $primary-orange;
    font-weight: $font-weight-bold;
    text-decoration: none;
    padding: 2px 6px;
    display: inline-block;
    margin: $margin-none $margin-small;
  }
}
