.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 40px;

  @include respond(desktop) {
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }
}

.success-card {
  background: $white;
  color: $secondary-blue;
  padding: 12px $padding-medium;
  border-radius: $border-radius-small-m;
  font-size: $font-size-body-m;
  font-weight: $font-weight-700;
  margin-bottom: 20px;
  border: 1px solid #001b42;
}

.contact-info-card {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    padding: 12px 20px;

    .contact-card {
      background: $white;
      padding: 20px;
      border-radius: $border-radius-small-m;
      box-shadow: $shadow-light;
      transition: 0.8s ease;
      padding-left: 20px;

      &:hover {
        transform: translateY(-3px);
      }

      h4 {
        // color: $secondary-blue2;
        color: $secondary-blue;
        margin-bottom: 15px;
        font-size: $font-size-h3-mm;
      }

      Link,
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $font-size-body-m;
        color: $text-medium;
        margin-bottom: 8px;
        text-decoration: none;

        &:hover {
          color: $secondary-blue;
          transform: scale(1.02);
        }
        .contact-icon {
          color: $secondary-blue;
        }
      }

      .contact-mail {
        text-transform: $text-transform-lowercase;
      }

      address {
        font-size: $font-size-body-m;
        font-style: normal;
        color: $text-medium;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        border-top: 2px solid rgba($text-medium, 0.3);
        padding-top: 5px;
      }
    }
  }
}

Link,
a {
  display: block;
  margin: 5px 0;
  transition: 0.3s;
  color: $text-medium;
  opacity: 0.8;
  font-size: $font-size-body;
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    color: $primary-orange;
    transform: translateX(8px);
    text-decoration: underline;
  }
}

.contact-form-card {
  background: $white;
  padding: 30px 20px;
  border-radius: $border-radius-medium;
  box-shadow: $shadow-medium;
  min-width: 300px;
  width: $container-width-default;

  .input-row {
    display: grid;
    grid-template-columns: 1fr;

    @include respond(dekstop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
  }

  // .input-group {
  //   display: block;
  //   margin: 0$margin-none;

  //   label {
  //     display: block;
  //     align-items: center;
  //     gap: 8px;
  //     font-size: $font-size-body;
  //     font-weight: $font-weight-600;
  //     margin: 8px 0;
  //     color: $secondary-blue;
  //   }

  // input,
  // select,
  // textarea {
  //   min-width: 250px;
  //   width: $container-width-default;
  //   padding: 6px 15px;
  //   background: $bg-light;
  //   border: 1px solid #e0e8ff;
  //   border-radius: $border-radius-small-m;
  //   font-family: inherit;
  //   transition: 0.3s;
  //   &:focus {
  //     outline: none;
  //     border-color: $secondary-blue;
  //     background: $white;
  //     box-shadow: 0 0 10px rgba($secondary-blue, 0.1);
  //   }
  // }
  // }

  .contact-submit-btn {
    width: $container-width-default;
    padding: $padding-medium;
    background: $secondary-blue;
    color: $white;
    border: none;
    border-radius: $border-radius-small-m;
    font-weight: $font-weight-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: rgba($secondary-blue, 0.5);
      transform: translateY(-3px);
      gap: 15px;
    }
  }
}
