.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($secondary-blue, 0.3); // පසුබිම අඳුරු කිරීම
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); // ලස්සන Blur Effect එකක්
  @include center-everything; // ඔයාගේ පොදු mixin එක
  z-index: 99999;
  padding: 20px;
  animation: fadeIn 0.6s ease-out;
}

.login-modal {
  position: relative;
  width: 100%;
  max-width: 420px;
  animation: scaleUp 0.3s ease;

  .close-modal {
    position: absolute;
    top: -20px;
    right: -30px;
    font-size: 1.2rem;
    color: $secondary-blue;

    background: none;
    background-color: rgba($secondary-blue, 0.1);
    padding: 9px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10001;

    &:hover {
      color: $white;
    }
  }

  &:hover {
    transform: translate(0);
  }
}

.login-card,
.privacy-card {
  width: 100%;
  max-width: 420px;
  padding: 35px 30px;
  animation: scaleUp 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 35px;
  border-radius: 24px;
  box-shadow: 0 12px 30px rgba($secondary-blue, 0.2);
  position: relative;

  .login-card,
  .privacy-card {
    &::after {
      content: "";
      position: absolute;
      right: -100px;
      top: -100px;
      width: 300px;
      height: 300px;
      background: rgba(rgb(218, 218, 218), 0.15);
      box-shadow: 0px -1px 50px rgba(192, 192, 192, 0.8);
      border-radius: 50%;
      overflow: hidden;
    }
  }

  h2,
  h3 {
    color: $dark-purple;
    color: $secondary-blue;
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 12px;
    letter-spacing: -0.2px;
    text-align: center;
  }

  p {
    color: rgba($secondary-blue, 0.5);
    font-size: 0.88rem;
    line-height: 1.5;
    margin-bottom: 35px;
  }
}

.privacy-card {
  background-color: $white;
  padding: 12px 20px;
}

.card-container:hover {
  transform: translate(0);
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
