.notice-header {
  h2 {
    margin-bottom: 1rem;
  }

  p {
    color: $secondary-blue3;
  }
}

.notice-loading {
  background: $white;
  padding: 20px;
  border-radius: $border-radius-medium;
  border: 1px solid $secondary-blue;
  text-align: center;
  color: $secondary-blue;
  font-weight: $font-weight-600;
  font-size: $font-size-body-m;
}

.notice-empty {
  background: $bg-light;
  padding: 20px;
  border-radius: $border-radius-medium;
  border: 1px dashed #c7d2fe;
  text-align: center;
  color: $secondary-blue3;
  font-size: $font-size-body-m;
}

.notice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
  padding: 4rem 0rem;
  // height: 400px;
  // overflow-y: scroll;
}

.notice-card {
  //   background: linear-gradient(135deg, #001c4238 0%, #000d1f2f 100%);
  //   border-left: 6px solid $secondary-blue;
  background-color: $white;
  padding: 22px 25px;
  border-radius: $border-radius-medium;
  box-shadow: 0 6px 18px rgba(53, 53, 53, 0.2);
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  width: $container-width-default;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translate(0);
}

.notice-top-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $container-width-default;
  flex-direction: row;
  margin-bottom: 12px;

  .meta-item {
    display: flex;
    align-items: center;
    gap: 6px;
    background: $white;
    padding: 5px 12px;
    border-radius: $border-radius-small-m;
    font-size: $font-size-body-mm;
    color: $secondary-blue3;
    font-weight: $font-weight-700;
    // border: 1px solid $secondary-blue;
  }

  .type-badge {
    background: $secondary-blue3;
    color: $secondary-blue;
    padding: 4px 10px;
    border-radius: $border-radius-small-m;
    font-weight: $font-weight-800;
    font-size: $font-size-body-mm;
    text-transform: $text-transform-uppercase;
  }

  h4 {
    margin: 5px 0 0;
    color: $secondary-blue;
    font-weight: $font-weight-800;
    font-size: $font-size-h3-mm;
    line-height: 1.4;
  }
}

.notice-main-text {
  margin: $margin-none;
  color: $secondary-blue3;
  font-size: $font-size-body-m;
  line-height: 1.5;
  font-weight: $font-weight-500;
}

.notice-footer-meta {
  text-align: right;
  border-top: 1px solid $secondary-blue;
  padding-top: 8px;
  margin-top: 4px;
  font-size: $font-size-body-mm;
  color: $secondary-blue3;
  font-weight: $font-weight-600;

  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: $secondary-blue;
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
}
