// footer style
footer {
  margin: 0;
  background-color: $footer-dark;
  color: $dark-purple2;
  border-radius: 1.5rem 1.5rem 0 0;
  padding-top: 1.5rem;

  @include flex-custom(flex-start, flex-start, column);

  @include respond(desktop) {
    border-radius: 0;
  }

  h3 {
    margin-bottom: 16px;
    color: $white;
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .secret-gen-link,
  Link,
  a {
    margin: 5px 0;
    display: block;
    color: $text-light;
    font-size: 0.85rem;
    text-decoration: none;
    transition: transform 0.3s ease;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      color: $secondary-blue3;
      transform: translateX(8px);
      text-decoration: none;
    }
  }

  .footer-icon {
    margin-right: 8px;
    padding: 1px 0;
  }
}

// footer contents
.footer-contents {
  gap: 50px;
  width: 100%;
  padding: 30px 10%;
  transition: 0.3s ease;

  @include respond(desktop) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 60px;
  }

  // footer cards
  .footer-card {
    margin: 2rem 0;
    padding: 0rem;
    width: 100%;

    @include flex-custom(flex-start, flex-start, column);

    p {
      padding: 0;
      margin: 0;
      color: $text-medium;
      font-size: 0.85rem;
    }
  }
}

// footer logo
.footer-logo {
  color: $white;

  .logo {
    color: $white;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Exo 2";
    display: inline-block;
    letter-spacing: 2px;

    span {
      color: $secondary-blue3;
    }

    &:hover {
      transform: translate(0);
      color: $white;
      text-decoration: none;
    }
  }

  p {
    font-size: $font-size-body;
    font-size: 0.85rem;
  }
}

// socail links
.social-links {
  padding: 2rem 0;

  @include flex-custom(center, center, row, nowrap);

  a {
    margin: 0 0.5rem;
    font-size: 1.75rem;

    &:hover {
      color: $secondary-blue3;
      transform: translateY(-3px);
    }
  }
}

#contact-email {
  text-transform: lowercase;
}

// footer bottom
#footer-bottom {
  margin-bottom: 6px;
  border-top: none;

  @include flex-custom(space-between, center, column, 20px, wrap);

  @include respond(mobile) {
    border-top: 2px solid #212747;
  }

  .footer-card {
    margin: 1.5rem 0;
    padding: 0rem;
    width: 100%;

    @include flex-custom(flex-start, flex-start, column);
  }
}

// footer legel
.footer-legels {
  Link {
    margin: 0;
    text-decoration: underline;
    color: $white;
  }
}

// footer copyrights
.footer-copyrights {
  display: flex;
  flex-direction: column;
  color: $white;

  a {
    margin-left: 10px;
    display: inline-block;
    color: rgba($white, 0.9);
  }
}

// specail contact form button
.subject-contacts {
  margin-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;

  p {
    font-size: 0.9rem;
  }

  .contact-button {
    color: $secondary-blue;
    background-color: $navbar-white;
    padding: 6px 12px;
    text-align: center;
    border-radius: 5px;

    &:hover {
      text-decoration: none;
      transform: translateY(3px);
    }
  }
}

// contact support
.contact-support {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 15px;

  a {
    color: $primary-orange;
    text-decoration: none;
  }
}
